/* ViewProjects.css */
.card-style {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.delete-btn {
    transition: color 0.2s ease, background-color 0.2s ease;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}

.card-hover:hover {
    transform: scale(1.05);
}
